.vs/
visiongl/freeglut/
visiongl/glew-2.1.0/
visiongl/opencv/
visiongl/visiongl/Debug/
visiongl/Debug/
visiongl/demo_clbin/Debug/
visiongl/Project1/
images/output/
src/AMDOpenCLDebug.log
src/AMDOpenCLDebugAPIUsage.log
src/OpenCL.dll
src/OpenCL.pdb
bin/
*~
/images/mitosis
